In [1]:
import pandas as pd
import requests
import gmaps
from config import g_key

In [2]:
gmaps.configure(api_key=g_key)

In [3]:
vacation_df=pd.read_csv("WeatherPy_Vacation.csv")

In [4]:
vacation_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Bubaque,GW,82.15,broken clouds,11.28,-15.83,Casa Dora
1,6,Salalah,OM,84.20,few clouds,17.02,54.09,HAMDAN PLAZA HOTEL
2,8,Samut Prakan,TH,86.00,light rain,13.60,100.60,The Color Living Hotel
3,9,Bukama,CD,71.89,broken clouds,-9.20,25.85,NaN
4,10,Quatre Cocos,MU,72.00,few clouds,-20.21,57.76,Veranda Palmar Beach Hotel
...,...,...,...,...,...,...,...,...
227,563,Gatesville,US,90.00,broken clouds,31.44,-97.74,Ramada by Wyndham Gatesville N. Fort Hood
228,571,Marsa Matruh,EG,77.00,clear sky,31.35,27.25,Beau Site
229,572,Iralaya,HN,85.08,broken clouds,15.00,-83.23,Iglesia morava renovada
230,573,Husainabad,IN,85.32,broken clouds,24.53,84.02,Mehdinager
231,574,Castillo De Teayo,MX,89.60,scattered clouds,20.75,-97.62,Iglesia Católica Lima Nueva

In [5]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} at {Max Temp} °F</dd>
</dl>
"""

In [9]:
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations=vacation_df[["Lat", "Lng"]]

In [10]:
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
vacation_start=vacation_df.loc[vacation_df["City"]=="Laguna"]
vacation_end=vacation_df.loc[vacation_df["City"]=="Pacifica"]
vacation_stop1=vacation_df.loc[vacation_df["City"]=="Butte"]
vacation_stop2=vacation_df.loc[vacation_df["City"]=="Altamont"]

In [17]:
start=vacation_start["Lat"].values[0],vacation_start["Lng"].values[0]
end=vacation_end["Lat"].values[0],vacation_end["Lng"].values[0]
stop1=vacation_stop1["Lat"].values[0],vacation_stop1["Lng"].values[0]
stop2=vacation_stop2["Lat"].values[0],vacation_stop2["Lng"].values[0]

In [18]:
print(start)
print(end)
print(stop1)
print(stop2)

(38.42, -121.42)
(37.61, -122.49)
(39.65, -121.57)
(42.21, -121.74)

In [19]:
fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start,end, waypoints=[stop1,stop2],
        travel_mode='DRIVING')
fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
itinerary_df=pd.concat([vacation_start,vacation_end,vacation_stop1,vacation_stop2])

In [25]:
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
225,555,Laguna,US,84.00,clear sky,38.42,-121.42,Holiday Inn Express & Suites Elk Grove Central...
146,356,Pacifica,US,70.00,scattered clouds,37.61,-122.49,"Pacifica Lighthouse, Trademark Collection by W..."
84,231,Butte,US,89.01,clear sky,39.65,-121.57,Lime Saddle Campground
86,233,Altamont,US,82.00,clear sky,42.21,-121.74,Microtel Inn & Suites by Wyndham Klamath Falls

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} at {Max Temp} °F</dd>
</dl>
"""

In [28]:
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]
locations=vacation_df[["Lat", "Lng"]]

In [29]:
locations = vacation_df[["Lat", "Lng"]]
max_temp = vacation_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)

fig.add_layer(marker_layer)

fig

Figure(layout=FigureLayout(height='420px'))