In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2020-06-19 01:22:44,-46.19,168.86,45.79,69,0,6.13
1,1,New Norfolk,AU,2020-06-19 01:22:44,-42.78,147.06,46.99,84,100,1.54
2,2,Butaritari,KI,2020-06-19 01:22:45,3.07,172.79,83.39,62,97,2.95
3,3,Hobart,AU,2020-06-19 01:21:57,-42.88,147.33,46.99,81,75,6.93
4,4,Rikitea,PF,2020-06-19 01:22:46,-23.12,-134.97,74.68,87,100,17.81

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [11]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [12]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
#Heatmap of Wind Speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [14]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [15]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Butaritari,KI,2020-06-19 01:22:45,3.07,172.79,83.39,62,97,2.95
5,5,Kassala,SD,2020-06-19 01:22:46,15.45,36.40,81.37,54,26,16.87
10,10,Sabang,ID,2020-06-19 01:22:47,5.89,95.32,83.68,74,67,10.60
12,12,Bilibino,RU,2020-06-19 01:22:48,68.05,166.44,77.00,24,0,10.45
13,13,Baghdad,IQ,2020-06-19 01:22:48,33.34,44.40,80.60,30,0,8.05
19,19,Kavieng,PG,2020-06-19 01:22:49,-2.57,150.80,85.28,65,1,1.95
20,20,Tautira,PF,2020-06-19 01:22:50,-17.73,-149.15,84.20,70,75,1.12
29,29,Capesterre-Belle-Eau,GP,2020-06-19 01:22:52,16.04,-61.57,82.40,74,75,8.05
37,37,Miri,MY,2020-06-19 01:22:54,4.41,114.01,80.60,88,75,8.05
38,38,Beaverlodge,CA,2020-06-19 01:22:54,55.22,-119.44,75.20,38,40,2.24

In [16]:
preferred_cities_df.count()

City_ID       185
City          185
Country       185
Date          185
Lat           185
Lng           185
Max Temp      185
Humidity      185
Cloudiness    185
Wind Speed    185
dtype: int64

In [17]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                    City Country  Max Temp    Lat     Lng Hotel Name
2             Butaritari      KI     83.39   3.07  172.79
5                Kassala      SD     81.37  15.45   36.40
10                Sabang      ID     83.68   5.89   95.32
12              Bilibino      RU     77.00  68.05  166.44
13               Baghdad      IQ     80.60  33.34   44.40
19               Kavieng      PG     85.28  -2.57  150.80
20               Tautira      PF     84.20 -17.73 -149.15
29  Capesterre-Belle-Eau      GP     82.40  16.04  -61.57
37                  Miri      MY     80.60   4.41  114.01
38           Beaverlodge      CA     75.20  55.22 -119.44

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [19]:
# Dependencies and Setup
import requests
import gmaps

# Import API key
from config import g_key

In [21]:
# Set the parameters to search for a hotel in Paris.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"}
# Use base URL to search for hotels in Paris.
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
# Make request and get the JSON data from the search.
hotels = requests.get(base_url, params=params).json()

In [24]:
len(hotels["results"])

0

In [25]:
hotels

{'html_attributions': [], 'results': [], 'status': 'ZERO_RESULTS'}

In [30]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    # Grab the first hotel from the results and store the name.
try:
    hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
except (IndexError):
    print("Hotel not found... skipping.")

In [31]:
hotel_df

           City Country  Max Temp    Lat     Lng             Hotel Name
2    Butaritari      KI     83.39   3.07  172.79     Isles Sunset Lodge
5       Kassala      SD     81.37  15.45   36.40      Amassi Hotel Gash
10       Sabang      ID     83.68   5.89   95.32            Hotel Citra
12     Bilibino      RU     77.00  68.05  166.44  Gostinitsa Severyanka
13      Baghdad      IQ     80.60  33.34   44.40          Baghdad Hotel
..          ...     ...       ...    ...     ...                    ...
550  Shitanjing      CN     79.07  39.23  106.34
551      Gunjur      GM     80.60  13.20  -16.73
552     Samarai      PG     79.77 -10.62  150.67
555       Bobon      PH     82.36  12.52  124.56
557      Tutoia      BR     76.87  -2.76  -42.27        Pousada Guará's

[185 rows x 6 columns]

In [32]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [33]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, 
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [35]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [36]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))